*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 1300px;
    background-color: rgb(128, 196, 233);
    display: flex;
    gap: 900px;
    padding: 19px;
    margin-top: 30px;
    border-radius: 18px;
}
nav ul{
    display: flex;
    gap: 30px
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 900;
}
.hero-section-one{
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.hero-section-one .first{
    width: 650px;
    height: 450px;
    border-radius: 20px;
  /*  display: grid;
    gap: 10px;*/
    place-items: center;
    background-color: rgb(128, 196, 233);
}
.div-text{
    display: grid;
    gap: 10px;
}
.div-text h3{
    font-size: 30px;
}
.div-text p{
    font-size: 18px;
    width: 400px;
}
.div-text button{
    width: 170px;
    height: 50px;
    border-radius: 20px;
    background-color: transparent;
}

.div-text button:hover{
    background-color: rgb(233, 233, 150);
    border: 1px solid white;
}

.div-text button a{
    text-decoration: none;
    color: black;
}
.div-text button a:hover{
    color: white;
}
.hero-section-one .second{
    width: 200px;
    height: 450px;
    background-color: gray;
    border-radius: 20px;
    padding-left: 10px;
}
.hero-section-one .third img{
    border-radius: 10px;
}
.hero-section-two{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
}
.div-color{
    width: 350px;
    height: 450px;
    border-radius: 20px;
    background-color: rgb(128, 196, 233);
}
.hero-section-two img{
    border-radius: 20px;
}
.another-frame{
    height: 300px;
    border-radius: 20px;
    padding: 15px;
    margin: 25px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(128, 196, 233);
}
.another-frame p{
    font-size: 19px;
    margin-top: 40px;
    margin-left: 70px;
    margin-bottom: 8px;
}
.another-frame h3{
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 70px;
}
.another-frame h3 a{
    text-decoration: none;
    color: black;
}
.frame-104{
    height: 700px;
    background-color: rgb(44, 42, 42);
    border-radius: 20px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: self-end;
    align-items: self-end;
}
.frame-104 p{
    color: rgb(155, 198, 226);
    margin-bottom: 50px;
}
.frame-104 h3{
    color: rgb(155, 198, 226);
    width: 550px;
    font-size: 25px;
}
.frame-105{
    padding: 80px;
}
.frame-106{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.frame-106 img{
    border-radius: 20px;
}
.frame-107{
    display: flex;
    gap: 10px;
    padding: 100px;
}
.frame-108s{
   /* display: inline;
    place-items: center;
    /* gap: 70px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 290px;
    height: 305px;
    border-radius: 20px;
    color: rgb(155, 198, 226);
    background-color: rgb(44, 42, 42);
}
.frame-108s h5{
    width: 200px;
    margin-bottom: 50px;
}
.frame-202{
    padding: 20px;
}
.frame-2021{
    display: grid;
    place-items: center;
    padding: 20px;
    color: rgb(155, 198, 226);
}
.frame-2021 p{
    font-size: 20px;
}
.frame-2021 h3{
    font-size: 32px;
}
.frame-202-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame-202 .one img{
    border-radius: 20px;
}
.frame-202 .onee{
    width: 300px;
    height: 507px;
    border-radius: 20px;
    background-color: rgb(44, 42, 42);
}
.section-e{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-right: 40px;
}
.section-etwo{
    width: 450px;
    height: 550px;
    border-radius: 20px;
    display: inline;
    padding: 30px;
    padding-left: 70px;
    background-color: rgb(128, 196, 233);
}
.section-etwo p{
    font-weight: 800;
    font-size: 17px;
    margin-bottom: 10px
}
.section-etwo h4{
    font-size: 15px;
    margin-top: 10px;
}
.section-etwo h3{
    font-weight: 800;
    font-size: 50px;
}
.section-eone{
    display: grid;
    gap: 40px;
    padding: 30px;
    height: 400px;
    margin-right: 170px;
    color: rgb(128, 196, 233);
    background-color: transparent;
}
.section-eone h3{
    font-size: 24px;
    margin-bottom: 40px;
}
.section-eone p{
    font-size: 16px;
}
.sectiong{
    /* height: 1000px; */
    padding: 20px;
    margin: 37px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 150px;
    border-radius: 20px;
    background-color: rgb(44, 42, 42);
}
.sectiong-one{
    /* padding: 10px; */
    margin-left: 30px;
    margin-top: 80px;
}
.sectiong-one p{
    font-size: 30px;
    color: rgb(128, 196, 233);
}
.sectiong-one h3{
    font-size: 40px;
    color: rgb(128, 196, 233);
}
.sectiong-two{
    padding: 30px;
}
.sectiong-two form{
    width: 500px;
    /* background-color: brown; */
    height: 500px;
    padding: 35px;
}
.xx{
    margin-bottom: 30px;
}
.sectiong-two label{
    color: rgb(155, 198, 226);
    font-size: 16px;
    font-weight: 400;
}
.sectiong-two input{
    width: 400px;
    height: 35px;
    border: none;
    border-bottom: 1px solid rgb(155, 198, 226);
    margin-top: 20px;
    background: transparent;
}
.sectiong-two input:focus{
    outline: none;
    font-size: 18px;
    color: antiquewhite;
}
#message{
    height: 50px;
}/*
#message:focus{
    background: none;
    border-color: blue;
    color: brown;
}*/
.formm{
    margin-bottom: 15px;
}
.sectiong-two button{
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    margin-left: 150px;
}
footer{
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(128, 196, 233);
}
footer h3{
    font-size: 40px;
}
.footer-content{
    display: flex;
    gap: 200px;
    padding: 50px;
}
.footer-content-a ul{
    list-style: none;
}
.footer-content-a ul li{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 900;
}
.footer-content-b ul{
    list-style: none;
}
.footer-content-b ul li{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 900;
}
#btn{
    width: 260px;
    border-radius: 20px;
    border: none;
    height: 45px;
    background-color: rgb(233, 233, 150);
}
#btn:hover{
    background-color: black;
    color: rgb(155, 198, 226);
}
.connect{
    margin-bottom: 20px;
}
.footer-email{
    font-size: 15px;
    font-weight: 700;
}
#footer-email{
    width: 350px;
    height: 45px;
    background-color: transparent;
    border: none;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
#checkbox{
    margin-bottom: 20px;
}
.hr{
    height: 1px;
    margin-bottom: 30px;
    background-color: black;
}
.josephine p{
    color: black;
}
.josephine p a{
    color: rgb(226, 32, 32);
    text-decoration: none;
}



/*

HTML, CSS, JavaScript, and CMS
SEO and web performance optimization.
Google Search Console 
Page speed optimization tools.*/

/*STYLES FOR POP UP INFORMATION*/
/* Overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  /* Popup Box */
  .popup-box {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 80%;
  }

  .popup-box h2 {
    margin-bottom: 20px;
    color: #cc0000;
  }

  .popup-box button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .popup-box button:hover {
    background-color: #0056b3;
  }












/*STYLES FOR ERROR MESSAGE*/

.wrapper{
    display: flex;
    justify-content: center;
    height: 1000px;
    margin-top: 250px;
}
.message{

}

.message h1{
    padding-bottom: 100px;
    padding-left: 10px;
}

.message #text{
    padding-right: 33px;
}

.message #text a{
    text-decoration: none;
    color: rgb(168, 196, 214);
}

.message #text a:hover{
    color: chocolate;
}
.boxes-wrapper{
    display: grid;
    justify-content: center;
   padding-bottom: 100px;
   padding-top: 50px;
    /* margin-left: 70px;  */
}


.boxes {
    --size: 32px;
    --duration: 800ms;
    height: calc(var(--size) * 2);
    width: calc(var(--size) * 3);
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    margin-top: calc(var(--size) * 1.5 * -1);
    transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
  }
  
  .boxes .box {
    width: var(--size);
    height: var(--size);
    top: 0;
    left: 0;
    position: absolute;
    transform-style: preserve-3d;
  }
  
  .boxes .box:nth-child(1) {
    transform: translate(100%, 0);
    -webkit-animation: box1 var(--duration) linear infinite;
    animation: box1 var(--duration) linear infinite;
  }
  
  .boxes .box:nth-child(2) {
    transform: translate(0, 100%);
    -webkit-animation: box2 var(--duration) linear infinite;
    animation: box2 var(--duration) linear infinite;
  }
  
  .boxes .box:nth-child(3) {
    transform: translate(100%, 100%);
    -webkit-animation: box3 var(--duration) linear infinite;
    animation: box3 var(--duration) linear infinite;
  }
  
  .boxes .box:nth-child(4) {
    transform: translate(200%, 0);
    -webkit-animation: box4 var(--duration) linear infinite;
    animation: box4 var(--duration) linear infinite;
  }
  
  .boxes .box > div {
    --background: #5C8DF6;
    --top: auto;
    --right: auto;
    --bottom: auto;
    --left: auto;
    --translateZ: calc(var(--size) / 2);
    --rotateY: 0deg;
    --rotateX: 0deg;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background);
    top: var(--top);
    right: var(--right);
    bottom: var(--bottom);
    left: var(--left);
    transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
  }
  
  .boxes .box > div:nth-child(1) {
    --top: 0;
    --left: 0;
  }
  
  .boxes .box > div:nth-child(2) {
    --background: #145af2;
    --right: 0;
    --rotateY: 90deg;
  }
  
  .boxes .box > div:nth-child(3) {
    --background: #447cf5;
    --rotateX: -90deg;
  }
  
  .boxes .box > div:nth-child(4) {
    --background: #DBE3F4;
    --top: 0;
    --left: 0;
    --translateZ: calc(var(--size) * 3 * -1);
  }
  
  @-webkit-keyframes box1 {
    0%, 50% {
      transform: translate(100%, 0);
    }
  
    100% {
      transform: translate(200%, 0);
    }
  }
  
  @keyframes box1 {
    0%, 50% {
      transform: translate(100%, 0);
    }
  
    100% {
      transform: translate(200%, 0);
    }
  }
  
  @-webkit-keyframes box2 {
    0% {
      transform: translate(0, 100%);
    }
  
    50% {
      transform: translate(0, 0);
    }
  
    100% {
      transform: translate(100%, 0);
    }
  }
  
  @keyframes box2 {
    0% {
      transform: translate(0, 100%);
    }
  
    50% {
      transform: translate(0, 0);
    }
  
    100% {
      transform: translate(100%, 0);
    }
  }
  
  @-webkit-keyframes box3 {
    0%, 50% {
      transform: translate(100%, 100%);
    }
  
    100% {
      transform: translate(0, 100%);
    }
  }
  
  @keyframes box3 {
    0%, 50% {
      transform: translate(100%, 100%);
    }
  
    100% {
      transform: translate(0, 100%);
    }
  }
  
  @-webkit-keyframes box4 {
    0% {
      transform: translate(200%, 0);
    }
  
    50% {
      transform: translate(200%, 100%);
    }
  
    100% {
      transform: translate(100%, 100%);
    }
  }
  
  @keyframes box4 {
    0% {
      transform: translate(200%, 0);
    }
  
    50% {
      transform: translate(200%, 100%);
    }
  
    100% {
      transform: translate(100%, 100%);
    }
}
/* RESPONSIVENESS */

@media only screen and (max-width: 600px) {
    header{
        display: none;
    }
    nav{
        display: none;
    }
    .hero-section-one{
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 0px;
    }
    .hero-section-one .first{
        max-width: 100%;
        background-color: black;
        color: rgb(128, 196,233);
    }
    .div-text{
        gap: 3px;
    }
    .div-text h3{
        font-size: 20px;
    }
    .div-text p{
        width: 200px;
    }
    .div-text button{
        height: 30px;
        border: 1px solid white;
    }
    .div-text button a{
        color: rgb(128, 196,233);
    }
    .hero-section-one .second{
        padding-left: 0px;
        width: 100%;
        height: 200px;
    }
    .hero-section-one .third img{
        display: block;
        max-width: 100%;
        margin-top: 10px;
        padding: 0px;
    }
    .hero-section-two{
        display: none;
    }
    .another-frame{
        display: none;
    }
    .frame-104{
        display: none;
    }
    .frame-106{
        display: none;
    }
    .frame-107{
        display: none;
    }
    .frame-202{
        display: none;
    }
    .section-e{
        display: none;
    }
    .sectiong{
        display: none;
    }
    footer{
        display: none;
    }
}